<!doctype html>
<html>
	
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Об Информационной системе История геологии и горного дела, ГИН РАН</title>
<link href="static/styles/aboutPageStyle.css" rel="stylesheet" type="text/css">
</head>

<body>
	
<table bgcolor="d18e7b" width="100%">
		<tr>
     <td align="center">
<h2>Информационная система «История геологии и горного дела»</h2>
<p class="W">Научная информационная база данных по истории науки</p>
	</td>
	    </tr>
</table>
	<h1 align="center">Персоналия</h1>
   
      <table width="100%" border="0" cellpadding="5" cellspacing="5">
		  <tr>
          <td><strong>Фамилия Имя Отчество</strong><br>
          
          <td><strong>ввод текста</strong></td>
</tr>
        <tr>
          <td>Surname, Name (in English)</td>
          <td>ввод текста </td>
</tr>
        <tr>
          <td bgcolor="#FFFFFF"><strong>Дата рождения</strong><br>
            Date of birthday:        </td>
          <td bgcolor="#FFFFFF">ввод текста</td>
</tr>
        <tr>
          <td bgcolor="#FFFFFF"><strong>Место рождения</strong><br>
            Place of birthday</td>
          <td bgcolor="#FFFFFF">ввод текста</td>
</tr>
        <tr>
          <td bgcolor="#FFFFFF"><strong>Дата смерти</strong><br>            
            Date of death</td>
          <td bgcolor="#FFFFFF">ввод текста</td>
</tr>
        <tr>
          <td bgcolor="#FFFFFF"><strong>Место смерти</strong><br>
            Place of death</td>
          <td bgcolor="#FFFFFF">ввод текста</td>
</tr>
        <tr>
          <td><strong>Академическое звание</strong><br>
            Academic degree</td>
          <td>
			<p>  
<fieldset>
  <legend>Членство в Академии наук (выбрать значения):</legend>

  <div>
    <input type="radio" id="no" name="ras" value="no" checked />
    <label for="huey">[ ничего ]</label>
  </div>

  <div>
    <input type="radio" id="academ" name="ras" value="academ" />
    <label for="dewey">действительный член</label>
  </div>

  <div>
    <input type="radio" id="chlenkor" name="ras" value="chlenkor" />
    <label for="louie">член-корреспондент</label>
  </div>
				  
  <div>
    <input type="radio" id="hmem" name="ras" value="hmem" />
    <label for="louie">почётный член</label>
  </div>
				  
  <div>
    <input type="radio" id="formem" name="ras" value="formem" />
    <label for="louie">иностранный член</label>
  </div>
</fieldset>
<p>
</td>
</tr>
        <tr>
          <td bgcolor="#FFFFFF"><strong>Область научных исследований</strong><br>
            Fields of scientific interests</td>
          <td bgcolor="#FFFFFF">выбор из списка (алфавитный) с возможностью добавления</td>
</tr>
        <tr>
          <td bgcolor="#FFFFFF"><strong>География исследований</strong><br>
            Regions of explorations</td>
          <td bgcolor="#FFFFFF">Сибирь, Дальний Восток, Восточная Азия, Центральная Азия</td>
</tr>
		  <tr>
          <td bgcolor="#FFFFFF"><strong>Связанные организации</strong><br>Place of work</td>
          <td width="85%" bgcolor="#FFFFFF">выбор из списка (алфавитный) с возможностью добавления</td>
        </tr>
        <tr>
          <td valign="top"><strong>Биография</strong><br>Biography</td>
          <td bgcolor="#FFFFFF">ввод текста с HTML&nbsp;</td>
</tr>
		 <tr>
         <td valign="top"><strong>Библиография</strong><br>Bibliography</td>
          <td bgcolor="#FFFFFF">

ввод текста с HTML&nbsp;


</body>
</html>

</td>
</tr>

			<tr>
          <td valign="top"><strong>Фото</strong><br>
            Photo </td>
          <td> HTML код из flickr-embed></script></td>
          </tr>
<tr>
          <td bgcolor="#FFFFFF"><strong>Дополнительные ссылки</strong><br>
            Additional links</td>
          <td bgcolor="#FFFFFF"><p>ввод текста с HTML </p>
            </td>
 </tr>
 <tr>
     <td align="right"><p><a href="list">Список всех организаций &gt;&gt;&gt;</a></p>
			<img src="/static/images/1px.gif" width="220" height="1"></td>
	 <td align="right"><a href=index>Вернуться >>></a></td>
        </tr>
      </table>
	
<!-- bottom -->
<table bgcolor="d18e7b" width="100%">
		<tr>
     <td align="center">
<p>© 2015-2025.&nbsp; &nbsp; <a href="http://www.ginras.ru/struct/19/9/index.php"> Группа истории геологии</a>, <a href="http://www.ginras.ru/index.php">Геологический институт</a>, <a href="https://www.ras.ru/">Российская академия наук</a>.
	</td>
	    </tr>
</table>
</body>
</html>
