/* html *
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: 'Times New Roman', Times, serif !important;
} */


body {
	background-color: #f8f9fa !important;
}

.bg-higeo{
	background-color: #d18e7b !important;
}

.higeo-color-1{
	background-color: #cbb2b2 !important;
}

.higeo-color-2{
   background-color: #f1d7cc !important;
}

p.GIN{
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 0cm;
	margin-left: 36.0pt;
	text-align: justify;
	text-indent: -36.0pt;
	font-size: 12.0pt;
	font-family: 'Times New Roman CYR', serif;
}

.accordion-button {
	background-color: white !important;
	color: black !important;
}

.accordion-button:not(.collapsed) {
	background-color: #f1d7cc !important;
	color: black !important;
}

.hover-highlight:hover {
	background-color: #fff8f8;
}

.card-header {
	background-color: #f1d7cc !important;
}

.m-02 {
	margin-top: 0.1rem !important;
	margin-bottom: 0.1rem !important;
}