/* html *
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: 'Times New Roman', Times, serif !important;
} */


.body {
	background-color: #f8efec !important;
}

.bg-higeo{
	background-color: #d18e7b !important;
}

.higeo-color-1{
	background-color: #996c87 !important;
}

