{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <h1 class="d-flex justify-content-center">Об информационной системе</h1>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 d-flex flex-warp align-items-center">
            <img src="/static/img/IS-logo.gif" class="img-fluid mx-auto h-100" alt="IS logo">
        </div>
        <div class="col-md-8">
            <p>Информационная система «История геологии и горного дела» - это биобиблиографическая база данных для информационного обеспечения исследований по наукам о Земле и по истории науки. Система содержит информацию об отечественных и зарубежных геологах и горных инженерах внёсших значительный вклад в развитие науки. Представлены библиографические списки публикаций авторов, а также статьи и некрологи о них. Показаны отзывы на публикации и редакторская работа. К персоналиям учёных привязаны места их работы, дополнительные документы и фотографии.</p>
            <p>Информация предназначена для поддержки и систематизации знаний в области истории геологии и горного дела. Основным функционалом системы служат структурирование и поиск информации. Информационная система позволяет постоянно актуализировать информацию о геологах, сделать её максимально доступной и удобной для поиска и научной работы.</p>
            <p>Система постоянно обновляется и редактируется в Группе истории геологии ГИН РАН, куда вы можете прислать дополнительные библиографии и документы по истории геологических и горных наук.</p>
        </div>
    </div>
    <div class="row mt-5">
        <h3>Краткие инструкции для поиска:</h3>
    </div>
    <div class="row row-cols-2 mt-2">
        <div class="col-xl-3 card px-0">
            <div class="card-header">Поиск персоналии</div>
            <div class="card-body">Напишите в строке поиска (полностью или частично) фамилии, имена и отчества учёных. На странице персоналии показаны биографии, библиографии, документы и фото. В системе более 1700 персоналий учёных из разных стран.</div>
        </div>
        <div class="col-xl-3 card px-0">
            <div class="card-header">Поиск организаций</div>
            <div class="card-body">Для показа списка учёных связанных с организациями, напишите в строке поиска названия института, организации или общества (можно использовать сокращения и части названия).</div>
        </div>
        <div class="col-xl-3 card px-0">
            <div class="card-header">Поиск по библиографиям</div>
            <div class="card-body">Система показывает списки персоналий у которых в списках трудов встречаются поисковые запросы.</div>
        </div>
        <div class="col-xl-3 card px-0">
            <div class="card-header">Просмотр общих списков</div>
            <div class="card-body">
                <p>Также можно воспользоваться выбором персоналии или организации из общего списка.</p>
                <ul>
                    <li><a href="1">Список персоналий</a></li>
                    <li>Список научных направлений по ГРНТИ</li>
                    <li>Список организаций</li>
                    <li>География исследований</li>
                    <li>Академики</li>
                    <li>Иностранные члены Академии</li>
                </ul>  
            </div>
        </div>
    </div>
</div>
{% endblock %}