{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <div class="card rounded">
                <div class="card-header">
                    <h1 class="d-flex justify-content-center">Об информационной системе</h1>
                </div>
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-lg-4 d-flex flex-wrap align-items-center">
                            <img src="/static/img/IS-logo.gif" class="img-fluid mx-auto rounded" alt="IS logo">
                        </div>
                        <div class="col-lg-8 mt-2">
                            <p>Информационная система «История геологии и горного дела» - это биобиблиографическая база данных для информационного обеспечения исследований по наукам о Земле и по истории науки. Система содержит информацию об отечественных и зарубежных геологах и горных инженерах внёсших значительный вклад в развитие науки. Представлены библиографические списки публикаций авторов, а также статьи и некрологи о них. Показаны отзывы на публикации и редакторская работа. К персоналиям учёных привязаны места их работы, дополнительные документы и фотографии.</p>
                            <p>Информация предназначена для поддержки и систематизации знаний в области истории геологии и горного дела. Основным функционалом системы служат структурирование и поиск информации. Информационная система позволяет постоянно актуализировать информацию о геологах, сделать её максимально доступной и удобной для поиска и научной работы.</p>
                            <p>Система постоянно обновляется и редактируется в Группе истории геологии ГИН РАН, куда вы можете прислать дополнительные библиографии и документы по истории геологических и горных наук.</p>
                            <div class="text-end">
                                <p><a href="http://www.ginras.ru/struct/19/9/index.php">Группа истории геологии</a>, ГИН РАН, Москва.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4 g-3 mt-2">
                <div class="col">
                    <div class="card h-100 d-flex flex-column px-0">
                        <div class="card-header higeo-color-2">Поиск персоналии</div>
                        <div class="card-body flex-grow-1">Напишите в строке поиска (полностью или частично) фамилии, имена и отчества учёных. На странице персоналии показаны биографии, библиографии, документы и фото. В системе более 1700 персоналий учёных из разных стран.<br><a href="/search?defaultopen=1">Поиск</a></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 d-flex flex-column px-0">
                        <div class="card-header higeo-color-2">Поиск организаций</div>
                        <div class="card-body flex-grow-1">Для показа списка учёных связанных с организациями, напишите в строке поиска названия института, организации или общества (можно использовать сокращения и части названия).<br><a href="/search?defaultopen=2">Поиск</a></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 d-flex flex-column px-0">
                        <div class="card-header higeo-color-2">Поиск по библиографиям</div>
                        <div class="card-body flex-grow-1">Система показывает списки персоналий у которых в перечне трудов встречаются слова поискового запроса.<br><a href="/search?defaultopen=1">Поиск</a></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 d-flex flex-column px-0">
                        <div class="card-header higeo-color-2">Просмотр общих списков</div>
                        <div class="card-body flex-grow-1">
                            <p>Также можно воспользоваться выбором персоналии или организации из общего списка.</p>
                            <ul>
                                <li><a href="/list?type=person">Список персоналий</a></li>
                                <li><a href="/list?type=field_of_study">Список научных направлений</a></li>
                                <li><a href="/list?type=org">Список организаций</a></li>
                                <li><a href="/list_custom?type=geography">География исследований</a></li>
                                <li><a href="/list_custom?type=acad_full_members">Список действительных членов</a></li>
                                <li><a href="/list_custom?type=acad_foreign_members">Список иностранных членов</a></li>
                                <li><a href="/list_custom?type=acad_honorary_members">Список почётных членов</a></li>
                                <li><a href="/list_custom?type=acad_corresponding_members">Список членов-корреспондентов</a></li>
                                <li><a href="/list_custom?type=acad_professors">Список профессоров РАН</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="card rounded">
                <div class="card-header">
                    <h3>Дополнительная информация</h3>
                </div>
                <div class="card-body">
                    <div class="container">
                        <h4>Публикации о системе:</h4>
                        <p class=GIN><i>Малахова И.Г., Шиолашвили Л.Н.</i> Информационная система «История геологии» // Информационное обеспечение науки: новые технологии. М.: Научный мир, 2011. С. 250-253.</p>
                        <p class=GIN><i>Malakhova I.G., Vtorov I.P.</i> Two systems - one goal // 13th International Erbe Symposium: cultural heritage in geosciences, mining and metallurgy: libraries-archives-museums: [Banska Stiavnica. 15-20 June 2015]. Banska Stiavnica: Slovak Mining Museum, 2015. P. 132-133.</p>
                        <p class=GIN><i>Второв И.П., Малахова И.Г.</i> Опыт эксплуатации информационной системы «История геологии и горного дела» // Информационное обеспечение науки: Новые технологии. М.: БЕН РАН, 2017. С. 208-215.</p>
                        <p class=GIN><i>Калёнов Н.Е., Малахова И.Г.</i> Информационная система «История геологии и горного дела» как пример интеграции разнородных ресурсов // Информационное обеспечение науки: новые технологии. Екатеринбург: ЦНБ УрО РАН, 2017. С. 125-131. <a href="https://old.benran.ru/SEM/Sb_16/Sbornik/158.pdf">URL</a></p> 
                        <p class=GIN><i>Vtorov I.P.</i> The Information System «History of Geology and Mining» as a scientific tool for historians of Earth sciences // IOP Conference Series: Earth and Environmental Science. Vol. 350. 2019. 01202 . <a href="https://iopscience.iop.org/article/10.1088/1755-1315/350/1/012020">URL</a></p>
                        <p class=GIN>Государственная регистрация базы данных № <a href="https://new.fips.ru/publication-web/publications/document?type=doc&tab=PrEVM&id=8BAEB832-9D01-4C82-8D7C-B0FF1DF1E98F">2019622087</a> от 15 ноября 2019 г. // Бюллетень Роспатента РФ. 2019. № 11.</p>
                        <p class=GIN><i>Второв И.П., Малахова И.Г.</i> Информационная система «История геологии и горного дела» как модель единого цифрового пространства по истории науки // Информационные ресурсы России. 2020. № 5(177). С. 22-24. <a href="https://www.elibrary.ru/item.asp?id=44051234">URL </a>
                        <p class=GIN><i>Малахова И.Г., Второв И.П.</i> Информационная система «История геологии горного дела как элемент единого цифрового пространства научных знаний в области истории науки // Единое цифровое пространство научных знаний: проблемы и решения. М.: Direct-Media, 2021. С. 186-198.</p>
                        <p class=GIN><i>Малахова И.Г.</i> История геологии и горного дела в информационном пространстве // Отечественная геология. 2023. № 6. С. 13-15. <a href="https://www.tsnigri.ru/magazine/OG/2023/6_23_min.pdf">URL</a></p>
                    </div>
                    <div class="container mt-2">
                        <h4>Разработка программного обеспечения:</h4>
                        <p>Н.Е. Каленов, А.М. Сенько, М.M. Якшин, БЕН РАН, МСЦ РАН (2011-2020).</p>
                        <p>Ф.И. Второв, Институт компьютерных наук НИТУ МИСИС (с 2025).</p>
                    </div>
                    <div class="container mt-2">
                        <h4>Поддержка и наполнение контента</h4>
                        <p>Группа истории геологии, Геологический институт Российской академии наук.</p>
                        <p>Автор идеи и редактор содержания: И.Г. Малахова.</p>
                    </div>
                    <div class="container mt-2">
                        <h4>Лицензии</h4>
                        <p><img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-nd.png" height="20"> Содержание ИС находится под лицензией <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons 4.0</a></p>
                        <p>Исходный код ИС находится под лицензией <a href="https://github.com/BUSH222/higeo_is/blob/main/LICENSE">MIT</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}