<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HIGEO IS - {% block title %}{% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="/static/img/IS-logo-s.jpg">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-md navbar-light bg-higeo">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/img/IS-logo.gif" class="rounded-circle me-4" width="50" height="50" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
					<li>
                    	<a class="nav-link border-md-right fs-4 me-2" href="/about">О системе</a>
					</li>
					<li>
                    	<a class="nav-link border-md-right fs-4 me-2" href="/search">Поиск</a>
					</li>
                    <li>
                    	<a class="nav-link border-md-right fs-4 me-2" href="/list?type=field_of_study">Темы</a>
					</li>
                     <li>
                    	<a class="nav-link border-md-right fs-4 me-2" href="/list?type=geography">География</a>
					</li>
                     <li>
                    	<a class="nav-link border-md-right fs-4 me-2" href="/list?type=org">Организации</a>
					</li>
					
				</ul>

                <div class="d-flex ms-auto align-items-center">
                    <div class="nav-item dropdown pe-5 disabled" style="display: none;">  <!-- Language selector -->
                        <a class="nav-link dropdown-toggle d-flex align-items-center disabled" href="#" id="langMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="flag-icon flag-icon-ru fs-4 me-2"></i> Русский
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langMenu">
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i class="flag-icon flag-icon-gb me-2"></i> English
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i class="flag-icon flag-icon-ru me-2"></i> Русский
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i class="flag-icon flag-icon-fr me-2"></i> French
                                </a>
                            </li>
                        </ul>
                    </div>
					<form class="d-flex ms-auto" role="search" id="searchform" action="search">
                        <input type="hidden" id="person" name="person">
                        <input type="hidden" id="quicksearch" name="quicksearch">
						<input class="form-control me-2" type="search" id="fullName" name="fullName" placeholder="Общий поиск" aria-label="Search">
						<button class="btn higeo-color-1 mr-2" type="submit">Поиск</button>
					</form>
				</div>
				
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    

    <div class="container mt-auto">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="mb-0 text-body-secondary">© 2015 - <script type="text/javascript">document.write(new Date().getFullYear());</script>, ГИН РАН</p>

            <ul class="nav col-md-6 justify-content-end">
                <li class="nav-item"><a target="_blank" rel="noopener noreferrer" href="http://www.ginras.ru/struct/19/9/index.php" class="nav-link px-2 text-body-secondary">Группа истории геологии</a></li>
                <li class="nav-item"><a target="_blank" rel="noopener noreferrer" href="http://www.ginras.ru/index.php" class="nav-link px-2 text-body-secondary">Геологический институт</a></li>
                <li class="nav-item"><a target="_blank" rel="noopener noreferrer" href="https://new.ras.ru/" class="nav-link px-2 text-body-secondary">Российская академия наук</a></li>
            </ul>
        </footer>
    </div>
</body>
<script>
    form = document.getElementById('searchform')

    form.addEventListener('submit', async function(event) {
        event.preventDefault();

        const formData = new FormData(form);
        const params = new URLSearchParams();

        for (const [key, value] of formData.entries()) {
            if (['person', 'org', 'doc'].includes(key) && value.trim() === '') {
                params.append('type', key);
            } else if (key === 'quicksearch') {
                params.append('quicksearch', 'quicksearch');
            } else if (value.trim() !== '') {
                params.append(key, value);
            }
        }

        const url = form.action + '?' + params.toString();
        window.location.href = url;
    });
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(40942129, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<div>
    <noscript><div><img src="https://mc.yandex.ru/watch/40942129" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</div>
</html>
