<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HIGEO IS - {% block title %}{% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="/static/img/IS-logo-s.jpg">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-md navbar-light bg-higeo">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/img/IS-logo.gif" class="rounded-circle me-4" width="50" height="50" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
					<li>
                    	<a class="nav-link border-md-right fs-4 me-2" href="/">Домой</a>
					</li>
					<li>
                    	<a class="nav-link border-md-right fs-4 me-2" href="/about">О системе</a>
					</li>
					<li>
                    	<a class="nav-link border-md-right fs-4 me-2" href="/search">Поиск</a>
					</li>
					
				</ul>

				<div class="d-flex ms-auto align-items-center">
					<div class="nav-item dropdown pe-5">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="langMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="flag-icon flag-icon-gb fs-4 me-2"></i> English
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langMenu">
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i class="flag-icon flag-icon-gb me-2"></i> English
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i class="flag-icon flag-icon-ru me-2"></i> Russian
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i class="flag-icon flag-icon-fr me-2"></i> French
                                </a>
                            </li>
                        </ul>
                    </div>                    
					<form class="d-flex ms-auto" role="search" id="searchform">
						<input class="form-control me-2" type="search" placeholder="Quick search" aria-label="Search">
						<button class="btn higeo-color-1 mr-2" type="submit">Search</button>
					</form>
				</div>
				
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <div class="container mt-auto">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="http://www.ginras.ru/struct/19/9/index.php"> Группа истории геологии</a></li>
                <li class="nav-item px-5"><a href="http://www.ginras.ru/index.php">Геологический институт</a></li>
                <li class="nav-item"><a href="https://www.ras.ru/">Российская академия наук</a></li>
            </ul>
            <p class="text-center text-body-secondary">&copy; 2015 - 
            <script type="text/javascript">document.write(new Date().getFullYear());</script>
            , ГИН РАН
            </p>
        </footer>
</div>
</body>
</html>
