{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <div class="card rounded">
                <div class="card-header">
                    <h1 class="d-flex justify-content-center">Информационная система</h1>
                </div>
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-lg-4 d-flex flex-wrap align-items-center">
                            <img src="/static/img/IS-logo.gif" class="img-fluid mx-auto rounded" alt="IS logo">
                        </div>
                        <div class="col-lg-8 mt-2">
                            <p>Информационная система «История геологии и горного дела» - это биобиблиографическая база данных для информационного обеспечения исследований по наукам о Земле и по истории науки. Система содержит информацию об отечественных и зарубежных геологах и горных инженерах внёсших значительный вклад в развитие науки. Представлены библиографические списки публикаций авторов, а также статьи и некрологи о них. Показаны отзывы на публикации и редакторская работа. К персоналиям учёных привязаны места их работы, дополнительные документы и фотографии.</p>
                            <p>Информация предназначена для поддержки и систематизации знаний в области истории геологии и горного дела. Основным функционалом системы служат структурирование и поиск информации. Информационная система позволяет постоянно актуализировать информацию о геологах, сделать её максимально доступной и удобной для поиска и научной работы.</p>
                            <p>Система постоянно обновляется и редактируется в Группе истории геологии ГИН РАН, куда вы можете прислать дополнительные библиографии и документы по истории геологических и горных наук.</p>
                            <div class="text-end">
                                <p><a target="_blank" rel="noopener noreferrer" href="http://www.ginras.ru/struct/19/9/index.php">Группа истории геологии</a>, ГИН РАН, Москва.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}