<!doctype html>
<html>
	
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Об Информационной системе История геологии и горного дела, ГИН РАН</title>
<link href="AboutPageAssets/styles/aboutPageStyle.css" rel="stylesheet" type="text/css">
</head>

<body>
	
	<table bgcolor="d18e7b" width="100%">
		<tr>
     <td align="center">
<h2>Информационная система «История геологии и горного дела»</h2>
<p class="W">Научная информационная база данных по истории науки</p>
	</td>
	    </tr>
</table>
      <table width="100%" border="0" cellpadding="5" cellspacing="5">
        <tr valign="top">       
      <td>
      <img src="AboutPageAssets/images/IS-logo.gif" alt="История геологии и горного дела"/>
        </td>
      <td bgcolor="#FFFFFF">
	<p>Информационная система содержит библиографии и биографическую информацию о геологах и горных инженерах.</p>
	<p>Система служит для анализа изученности, обзоров и исследований в области истории геологии и горного дела.</p>
	<p>Информация предназначена для поддержки и систематизации знаний в области истории геологии и горного дела.</p>
	<p>Основным функционалом системы служат структурирование и поиск информации.</p>
    <p>Система обновляется и редактируется в Группе истории геологии ГИН РАН.</p>
	<p align="right"><a href="about.html">Подробнее об информационной системе</a> &gt;&gt;&gt;&nbsp;</p>
		</td>
		  </tr>
        <tr valign="top">
          <td bgcolor="#FFFFFF"><h2>Поиск</h2>
	<p>Для поиска введите  (полностью или частично) ФИО геолога или горного инженера. Отдельно можно искать по названию публикаций или другим параметрам:</p>
          </td>
          <td width="90%">
<label for="search-a"><h3>ФИО персоналии учёного:</h3></label><input type="search-a" name="search-a" id="search-a">
<label for="search-b"><h3>Название публикации:</h3></label><input type="search-b" name="search-b" id="search-b">
<p align="right"><a href="search.html">Дополнительные параметры поиска</a> &gt;&gt;&gt;&nbsp; </p>
          </td>
        </tr>
      </table>
	
	<!-- bottom -->
<table bgcolor="d18e7b" width="100%">
		<tr>
     <td align="center">
<p>© 2015-2025.&nbsp; &nbsp; <a href="http://www.ginras.ru/struct/19/9/index.php"> Группа истории геологии</a>, <a href="http://www.ginras.ru/index.php">Геологический институт</a>, <a href="https://www.ras.ru/">Российская академия наук</a>.
	</td>
	    </tr>
</table>
	
</body>
</html>
