{% extends "base.html" %}

{% block title %}{{page.title}}{% endblock %}

{% block content %}

<div class="container">

    <div class="accordion mt-3" id="accordion1">
        <div class="accordion-item">
            <h2 class="accordion-header " id="heading1">
                <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse1"
                    aria-expanded="true"
                    aria-controls="collapse1"
                >
                    Поиск по персоналиям:
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordion1">
                <div class="accordion-body">
                    <form action="search">
                        <input type="hidden" id="person" name="person">
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Поиск по библиографиям</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="content" 
                                name="content"
                                placeholder="Содержание">
                            <label for="fullName" class="form-label mt-3">Фамилия Имя Отчество</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="fullName" 
                                name="fullName"
                                placeholder="Введите ФИО">
                            <small class="form-text text-muted">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#nameDropdown" aria-expanded="false" aria-controls="nameDropdown">
                                    Ввести по частям
                                </a>
                            </small>
                        </div>
                        <div class="collapse" id="nameDropdown">
                            <div class="card card-body">
                                <div class="mb-3">
                                    <label for="firstName" class="form-label">Имя</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="firstName" 
                                        name="firstName"
                                        placeholder="Введите имя">
                                </div>
                                <div class="mb-3">
                                    <label for="patronymic" class="form-label">Отчество</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="patronymic" 
                                        name="patronymic"
                                        placeholder="Введите отчество">
                                </div>
                                <div class="mb-3">
                                    <label for="lastName" class="form-label">Фамилия</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="lastName" 
                                        name="lastName"
                                        placeholder="Введите фамилию">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="birthYear" class="form-label">Год рождения</label>
                            <input 
                                type="number" 
                                class="form-control" 
                                id="birthYear" 
                                name="birthYear" 
                                placeholder="Введите год рождения" 
                                min="1600" 
                                max="2025">
                        </div>
                        <button type="submit" class="btn higeo-color-1 mt-3" id="searchBtn">
                            <span class="spinner-border spinner-border-sm me-2 d-none" role="status" aria-hidden="true" id="searchSpinner"></span>
                            Поиск
                        </button>
                    </form>
                    
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading2">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse2"
                    aria-expanded="false"
                    aria-controls="collapse2"
                >
                    Поиск по организациям:
                </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordion1">
                <div class="accordion-body">
                    <form action="search">
                        <div class="mb-3">
                            <input type="hidden" id="org" name="org">
                            <label for="" class="form-label">Название организации</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="name"
                                name="name" 
                                placeholder="Введите название организации">
                        </div>
                        <button type="submit" class="btn higeo-color-1 mt-3" id="searchBtn">
                            <span class="spinner-border spinner-border-sm me-2 d-none" role="status" aria-hidden="true" id="searchSpinner"></span>
                            Поиск
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
                <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse3"
                    aria-expanded="false"
                    aria-controls="collapse3"
                >
                    Поиск по документам:
                </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion1">
                <div class="accordion-body">
                    <form action="search">
                        <div class="mb-3">
                            <input type="hidden" id="doc" name="doc">
                            <label for="" class="form-label">Название документа</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="name" 
                                name="name"
                                placeholder="Введите название организации">
                        </div>
                        <button type="submit" class="btn higeo-color-1 mt-3" id="searchBtn">
                            <span class="spinner-border spinner-border-sm me-2 d-none" role="status" aria-hidden="true" id="searchSpinner"></span>
                            Поиск
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if current_user.is_authenticated %}
        <a name="" id="" class="btn mt-2 mb-2 higeo-color-1" href="/new?type=person" role="button">New person</a>
        <a name="" id="" class="btn mt-2 mb-2 higeo-color-1" href="/new?type=org" role="button">New organization</a>
        <a name="" id="" class="btn mt-2 mb-2 higeo-color-1" href="/new?type=doc" role="button">New document</a>
    {% endif %}
            
<div class="mt-3">
    <div class="results-box p-3">
        <h5 class="mb-2 mt-3 text-center result-counter" style="font-size: 1.5rem;">Результаты поиска</h5>
        <div class="row">
            <h6 class="text-center">Нажмите поиск</h6>
            <div class="col-12">
                <div class="row">
                    {% set last_letter = {'l': None} %}
                    {% for item in results %}
                        {% if last_letter.l is none or item[2][0] != last_letter.l %}
                            {% if last_letter.update({'l': item[2][0]}) %}{% endif %}
                            <div class="col-12">
                                <h3 class="mt-2 mb-1">{{ last_letter.l }}</h3>
                            </div>
                        {% endif %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-1">
                            <div class="result-item">
                                <a href="/view?type={{ item[0] }}&id={{ item[1] }}">{{ item[2] }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
    
    
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const urlParams = new URLSearchParams(window.location.search);
        const defaultOpen = urlParams.get('defaultopen');

        if (defaultOpen) {
            const targetAccordion = document.querySelector(`#collapse${defaultOpen}`);
            const targetButton = document.querySelector(`[data-bs-target="#collapse${defaultOpen}"]`);
            
            if (targetAccordion && targetButton) {
                document.querySelectorAll('.accordion-collapse').forEach(accordion => {
                    accordion.classList.remove('show');
                });
                document.querySelectorAll('.accordion-button').forEach(button => {
                    button.classList.add('collapsed');
                    button.setAttribute('aria-expanded', 'false');
                });
                targetAccordion.classList.add('show');
                targetButton.classList.remove('collapsed');
                targetButton.setAttribute('aria-expanded', 'true');
            }
        }
    });

    document.querySelectorAll('form').forEach(form => {
        form.addEventListener('submit', async function(event) {
            event.preventDefault();

            // Spinner logic
            const searchBtn = form.querySelector('button[type="submit"]');
            const spinner = searchBtn.querySelector('.spinner-border');
            if (spinner) spinner.classList.remove('d-none');
            searchBtn.setAttribute('disabled', 'disabled');

            const formData = new FormData(form);
            const params = new URLSearchParams();

            for (const [key, value] of formData.entries()) {
                if (['person', 'org', 'doc'].includes(key) && value.trim() === '') {
                    params.append('type', key);
                } else if (value.trim() !== '') {
                    params.append(key, value);
                }
            }

            const url = form.action + '?' + params.toString();

            try {
                const response = await fetch(url, { method: 'GET' });

                if (!response.ok) {
                    throw new Error('request error');
                }

                const data = await response.json();
                updateResults(data);
            } catch (error) {
                console.error('error fetching server results', error);
                alert('Ошибка при выполнении запроса. Пожалуйста, попробуйте позже.');
            } finally {
                if (spinner) spinner.classList.add('d-none');
                searchBtn.removeAttribute('disabled');
            }
        });
    });

function updateResults(data) {
    const resultsContainer = document.querySelector('.row');
    resultsContainer.innerHTML = '';

    if (data.length === 0) {
        resultsContainer.innerHTML = '<h6 class="text-center">Поиск не дал результатов</h6>';
        return;
    } else {
        resultsContainer.innerHTML = `<h6 class="text-center">Найдено ${data.length} результатов</h6>`;
    }

    let currentLetter = '';
    let letterItems = [];
    const numColumns = 4;

    function flushLetterColumns(items) {
        if (items.length === 0) return;

        const letterRow = document.createElement('div');
        letterRow.classList.add('row');
        const columnSize = Math.ceil(items.length / numColumns);

        for (let colIndex = 0; colIndex < numColumns; colIndex++) {
            const column = document.createElement('div');
            column.classList.add('col-12', 'col-md-6', 'col-lg-3', 'mb-1');
            const start = colIndex * columnSize;
            const end = start + columnSize;
            const columnItems = items.slice(start, end);

            columnItems.forEach((item) => {
                const resultItem = document.createElement('div');
                resultItem.classList.add('result-item', 'mb-2');
                resultItem.innerHTML = `<a href="/view?type=${item[0]}&id=${item[1]}">${item[2]}</a>`;
                column.appendChild(resultItem);
            });

            letterRow.appendChild(column);
        }

        resultsContainer.appendChild(letterRow);
    }

    data.forEach((item) => {
        const firstLetter = item[2][0].toUpperCase();
        if (firstLetter !== currentLetter) {
            if (letterItems.length > 0) {
                flushLetterColumns(letterItems);
                letterItems = [];
            }

            currentLetter = firstLetter;

            const letterHeading = document.createElement('div');
            letterHeading.classList.add('col-12');
            letterHeading.innerHTML = `<h3 class="mt-2 mb-1">${currentLetter}</h3>`;
            resultsContainer.appendChild(letterHeading);
        }

        letterItems.push(item);
    });

    if (letterItems.length > 0) {
        flushLetterColumns(letterItems);
    }

    resultsContainer.scrollIntoView({ behavior: 'smooth' });
}
</script>



{% endblock %}