<!doctype html>
<html>
	
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Об Информационной системе История геологии и горного дела, ГИН РАН</title>
<link href="static/styles/aboutPageStyle.css" rel="stylesheet" type="text/css">
</head>

<body>
	
	<table bgcolor="d18e7b" width="100%">
		<tr>
     <td align="center">
<h2>Информационная система «История геологии и горного дела»</h2>
<p class="W">Научная информационная база данных по истории науки</p>
	</td>
	    </tr>
</table>
	<h1 align="center">Шаблон дизайна&nbsp;</h1>
   
      <table width="100%" border="0" cellpadding="5" cellspacing="5">
        <tr valign="top">
          <td >
			  <img src="static/images/IS-logo-s.jpg" width="150" height="125" alt=""/>
			  <br>150 x 125
          </td>
          <td bgcolor="#FFFFFF" align="justify">
            <p>Текст 1</p>
            <p>Текст 2</p>
            <p>Текст 3</p>
          </td>
        </tr>
		  
        <tr valign="top">
          <td valign="top"><p><b>Второй ряд</b><br>Second Row</p></td>
          <td bgcolor="#FFFFFF">
            <p>Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1,Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1, Текст 1</p>
            <p>Текст 2</p>
          </td>
  </tr>
        <tr valign="top" bgcolor="#FFFFFF">
          <td>bgcolor="#FFFFFF"</td>
          <td> no </td>

        <tr>
          <td align="right"><p><a href="list.html">Список всех организаций &gt;&gt;&gt;</a></p>
			<img src="/static/images/1px.gif" width="220" height="1"></td>
          <td align="right"><p><a href="index.html">Вернуться &gt;&gt;&gt;</a></p>
           &nbsp;</td>
        </tr>
      </table>
	
	<!-- bottom -->
<table bgcolor="d18e7b" width="100%">
		<tr>
     <td align="center">
<p>© 2015-2025.&nbsp; &nbsp; <a href="http://www.ginras.ru/struct/19/9/index.php"> Группа истории геологии</a>, <a href="http://www.ginras.ru/index.php">Геологический институт</a>, <a href="https://www.ras.ru/">Российская академия наук</a>.
	</td>
	    </tr>
</table>
	
</body>
</html>
