{% extends "base.html" %}

{% block title %}View document{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <h1 class="d-flex justify-content-center fw-bold">Документ</h1>
    </div>
    <div class="row mt-5">
        <div class="col-lg-2 fw-bold">Персоналия</div>
        <div class="col-lg-10">
            <p class="text-break">
                {{data.person}}
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-2 fw-bold">Источник</div>
        <div class="col-lg-10">
            <p class="text-break">
                {{data.source}}
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-2 fw-bold">Название документа</div>
        <div class="col-lg-10">
            <p class="text-break">
                {{data.doc_name}}
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-2 fw-bold">Год создания</div>
        <div class="col-lg-10">
            <p class="text-break">
                {{data.year}}
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-2 fw-bold">Комментарий</div>
        <div class="col-lg-10">
            <p class="text-break">
                {{data.comment}}
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-2 fw-bold">Файл</div>
        <div class="col-lg-10">
            <p class="text-break">
                {{data.file}}
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-2 fw-bold">Ссылки</div>
        <div class="col-lg-10">
            <p class="text-break">
                {{data.links|safe}}
            </p>
        </div>
    </div>
</div>


{% endblock %}