{% extends "base.html" %}

{% block title %}View organization{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <h1 class="d-flex justify-content-center fw-bold">Организации и институты</h1>
    </div>
    <div class="row mt-5">
        <div class="col-lg-2 fw-bold">Organization name</div>
        <div class="col-lg-10">
            <p class="text-break">
                {{data.org_name}}
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-2 fw-bold">Description</div>
        <div class="col-lg-10">
            <p class="text-break">
                {{data.description}}
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-2 fw-bold">Associated people</div>
        <div class="col-lg-10">
            <p class="text-break">
                {{data.associated_people}}
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-2 fw-bold">Additional info</div>
        <div class="col-lg-10">
            <p class="text-break">
                {{data.additional_info}}
            </p>
        </div>
    </div>
</div>


{% endblock %}